<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">


<!-- 
/home/btang/mygit/mybin/js/test6.html
-->
<!-- ==storage__  -->
<!-- ==app0_  -->
<!-- button__ -->
<!-- radio__ -->
<!-- list__ -->
<!-- checkbox__ -->
<!-- test_v_model__checkbox -->
<!-- test_v_model__radio -->
<!-- test_v_model__select -->
<!-- test_v_html -->
<!-- test_component -->
<!-- // component_template -->
<!-- component_comp1 -->
<!-- ==vue_app0_  -->

<!-- ==storage__  -->
<!--

  <script src='js2/axios.js'></script>
-->


<!--
-->

<!--
-->

<!--
-->

  <script src="js2/jquery.min.js"></script>
  <link rel="stylesheet" href="js2/bootstrap.min.css">
  <script src="js2/bootstrap.min.js"></script>

  <!-- cmac related -->
  <link rel="stylesheet" href="common.css">
  <script src='js2/dataList9.js'></script>
  <script src='js2/varList9.js'></script>
  <script src='js2/common-v4.js'></script>
  <script src='js2/js.cookie-2.1.3.min.js'></script>
  <script src='js2/vue.js'></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script>
$(document).ready(function(){

$("#changeAxiosRes2").click(function(event) {
  app0.axiosRes = 'manually changed';
});
$("#testAxios2").click(function(event) {
      axios.get('http://cmda-test.jpl.nasa.gov:8090/svc/testAxios?aa=xxxx')
      .then( function(response) {
        app0.axiosRes = response.message;
      })
      .catch( function(error) {
        app0.axiosRes = 'something is wrong.';
      })
    });


$("#testAjax2").click(function(event) {
        $.ajax({
            type: 'GET',
            url: "http://cmda-test.jpl.nasa.gov:8090/svc/testAxios?aa=yyyy",
            //data: null,
            dataType: "json",
            //contentType: false,
            //cache: false,
            //processData: false,
            //async: false,
            success: function(response) {
               app0.axiosRes = response.message
            }, 
            error: function(xhr, textStatus, errorThrown) {
               app0.axiosRes = 'error';
            },    
            complete: function(xhr, textStatus) {
               app0.axiosRes += '  complete'
                //alert("complete status: "+textStatus);
            },
        });
    });
});
</script>
</head>

<body>
<div class="container-fluid">

<!-- ==app0_  -->
<div id="vueId">
<!-- button__ -->
<h3> test_v_model__button </h3>
you have typed:{{text1}}
<br><textarea v-model="text1"/></textarea>
<button v-on:click="addOneToText1">add 1</button> 
<button v-on:click="emptyText1" class="btn btn-primary" v-bind:disabled="disableButton1">empty it</button>  
<button v-on:click="nameToText1">add a name</button>  
<button v-on:click="reverseText1">reverse</button>  
<button v-on:click="changeDisableButton1()">disable/enable the second button</button>  

<!-- test_v_model__checkbox -->
<h3> Checkbox </h3>
<label><br><input type="checkbox" value='box a' v-model="checked1">
Box A</label>
<label><br><input type="checkbox" value='box b' v-model="checked1">
Box B</label>
<br>Checked:{{ checked1 }}


<!-- test_v_model__radio -->
<h3> Radio button </h3>
<label class="input-online"><input type="radio" name="scale1" value="linear"  v-model="radio1"/>pick 1  </label>
<label class="input-online"><input type="radio" name="scale1" value="log" v-model="radio1"/>pick 2  </label>
<br>picked: {{radio1}}
<button v-on:click="pickRadio2">pick 2</button>
 
<!-- test_v_model__select -->
<h3> Select </h3>
<select v-model="selected">
  <option v-for="option in options" v-bind:value="option.value">
    {{ option.text }}
  </option>
</select>
<span>Selected: {{ selected }}</span

<!-- list__ -->
<h3> test list </h3>
<ul>
  <li v-for="item in items">
    {{ item }}
  </li>
</ul>

<input type='text' v-model='itemText'>
<button v-on:click="addItem">add item</button>

<!-- test_v_html -->
<h3> test v-html </h3>
<div v-html="html1"></div>

<!-- textare cannot parse html -->
<textarea >{{html2}}</textarea>

<!-- test_component -->
<comp1 
:name="lonName" 
:units="lonUnits" 
:axis-method="lonMethod" 
:min1="lonS" 
:max1="lonE" 
>
</comp1>

<!-- test_Axios -->
<h3> test Axios </h3>
<button v-on:click="testAxios">test axios</button>
<button id="testAxios2">test axios outside vue</button>
<button v-on:click="testAjax">test AJAX</button>
<button id="testAjax2">test AJAX, outside vue</button>
<button v-on:click="changeAxiosRes">change AxiosRes</button>
<button id="changeAxiosRes2">change axiosRes, outside vue</button>
<textarea>
{{axiosRes}}
</textarea>

</div> <!-- id=app0 -->
</div> <!-- container -->

<script type="text/x-template" id="compDiv">
// component_template 
<div class="row">
  <div class="col-sm-4 right1">
    {{name}} ({{units}}):
  </div>

  <div class="col-sm-4 left1">
<select v-bind:value="axisMethod" v-on:change="changeMethod($event.target.value)">
    <option value="1">pick a value</option>
    <option value="2">average over</option>
    <option value="3">form an axis</option>
</select>
      <input v-bind:value="min1" v-on:change="changeMinMax()" size=7>
      <input v-bind:value="max1" v-on:change="changeMinMax($event.target.value)" size=7>
  </div>

</div> <!-- row -->
</script>

  <script>
// component_comp1
Vue.component('comp1', {
  template: "#compDiv",
  props: {
name: String,
units: String,
axisMethod: String,
min1: String,
max1: String,
  },

  methods: {
    changeMinMax: function(val1) {
      this.min1 = val1;
    },
    changeMethod: function(val1) {
      this.axisMethod = val1;
    },
  },
});  // component

// vue_app0_
var vueApp = new Vue({
  el: '#vueId',
  data: {
    text0 : "app0_my_very_first",
    text1 : "",
    checked1: [],
    radio1: '',
    selected: 'B',
    options: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' },
    ],
    title0: 'i am title0',
    description: 'i am des',
    itemText: '',
    items: [],
    html1: '<h2><font color="red">here is h2 title in red.</font></h2>',
    html2: '<font color="red">here is h2 title in red.</font>',
    disableButton1: true,
    axiosRes: '',
 
    lonName: 'longitude',
    lonMethod: '1',
    lonUnits: 'deg',
    lonS: '10',
    lonE: '50',
  },  // data

  methods: {
    addOneToText1: function () {
      this.text1 = this.text1 + "1"
    },
    emptyText1: function () {
      this.text1 = ""
    },

    changeDisableButton1: function () {
      this.disableButton1 = !this.disableButton1;
    },

    nameToText1: function () {
      this.text1 = "Benyang Tang from JPL"
    },
    reverseText1: function () {
      this.text1 = this.text1.split('').reverse().join('')
    },
    pickRadio2: function () {
      this.radio1="log"
    },
    addItem: function () {
      if (this.itemText!='')
      this.items.push(this.itemText)
    },

    testAjax: function () {
        var that = this;
        $.ajax({
            type: 'GET',
            url: "http://cmda-test.jpl.nasa.gov:8090/svc/testAxios?aa=zzzz",
            data: null,
            dataType: "json",
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(response) {
               that.AxiosRes = response.message
            }, 
        });
    },

    testAxios: function () {
      var app = this;
      axios.get('http://cmda-test.jpl.nasa.gov:8090/svc/testAxios?aa=zzzz')
      .then( function(response) {
        app.axiosRes = response.message;
      })
      .catch( function(error) {
        app.axiosRes = 'something is wrong.';
      })
    },

    changeAxiosRes: function () {
      var that = this;
      that.axiosRes = 'you clicked "change AxiosRes".';
    },
  },

  computed: {
    // a computed getter
    addOne: function () {
      return this.test1 + "1"
    }
  },

});

//Cookies.set('name', 'aaazz', {expires:7});
//console.log(Cookies.get('name'));
  </script>



</body>

</html>
